body{
  color:white;
  background-color: #3C0753;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:2rem;
  box-sizing:border-box;
}
h1{
  border-radius: 2px;
  border-color: 2px solid bisque;
}

div{
  display:flex;
  flex-direction: column;
 place-items: center;
}
button{
  padding:5px;
  height: 40px;
  width:40px;
  margin:10px;
  background-color:#720455;
  color:white;
}